<form method="post" action="{{ path('factura_delete', {'id': factura.id}) }}" onsubmit="return confirm('Está seguro de que quieres eliminar este registro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ factura.id) }}">
    <br>
    <button class="btn btn-danger btn-sm">ELIMINAR</button>
</form>
