{% extends 'base.html.twig' %}


{% block body %}
{% include('navbar.html.twig') %}
 <div class="container">
    <div class="row">
    <div class="col-sm">
    <h1>NUEVA CONFIGURACION</h1>

    {{ include('configuracion/_form.html.twig') }}

    <a href="{{ path('configuracion_index') }}" style=" margin-left: 15px; margin-top: 5px;" class="btn btn-sm btn-info">VOLVER A LA LISTA</a>
    </div>
</div>
</div>
{% endblock %}
